@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-gray-100 font-sans tracking-wide antialiased overflow-hidden;
  }
}

.glass-panel {
  @apply bg-black/40 backdrop-blur-xl border border-white/10 shadow-2xl;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/20 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-white/40;
}